.root {
	position: relative;
	display: inline-block;
	width: 70%;
}

.audioContainer {
	display: flex;
	flex-direction: column;
}

.audioRow {
	display: grid;
	grid-template-columns: 4em 1fr 2fr;
	padding: 1em;
	align-items: center;
}

.audioRow:hover {
	background-color: #f1f1f1;
	transition: background-color 0.4s;
}

.headerRow {
	display: grid;
	grid-template-columns: 4em 1fr 2fr;
	justify-content: end;
	align-items: center;
	justify-items: start;
	background-color: #6d6d6d;
	padding: .3em 1em;
	color: #fff;
}

.audioHeader {
	padding: 1em 0em;
}

.audioButton {
	height: 3.5em;
	border-radius: 50%;
	width: 3.5em;
	background-color: #d6d6d6;
	border: none;
}

.audioButton:focus {
	outline: none;
}

.playIcon {
	border: 0;
	background: transparent;
	box-sizing: border-box;
	width: 0;
	height: 1.5em;

	border-color: transparent transparent transparent #202020;
	transition: 100ms all ease;
	cursor: pointer;

	border-style: solid;
	border-width: 0.7em 0em 0.7em 1.2em;
	margin-left: 0.5em;
}

.paused {
	border-style: double;
	border-width: 0px 0 0px 1.2em;
}

.audioButton:hover .playIcon {
	border-color: transparent transparent transparent #404040;
}

/* .audioButton .disabledIcon {
	border-color: transparent transparent transparent #b7b7b7;
}

.audioButton:hover .disabledIcon {
	border-color: transparent transparent transparent #b7b7b7;
} */
